header{
    width: 100%;
    height: 60px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    background: var(--color2);
    box-sizing: border-box;
    overflow: hidden;
}
header img{
    margin: 0px 0px 0px 20px;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    list-style: none;
    color: var(--color4);
    font: normal normal 12px var(--font);
}
#divcad ul{
    margin: 0px 40px 0px 0px;
}
nav ul li{
   margin: 0px 0px 0px 20px;
   transition: transform .5s ;
}

nav ul li:hover{
    color: var(--color1);
    cursor: pointer;

    transform: scale(1.1)
}
nav div{
    display: flex;
    align-items: center;
}
#divnav{
    margin: 0px 0px 0px 30px;
}
#divcad{
    margin: 0px 40px 0px 0px;

}

#cadastre-se{
    color: var(--color4);
    padding: 5px 20px;
    background-color: transparent;
    border: 2px solid var(--color4);
    border-radius: 30px;
    box-sizing: border-box;
    transition: transform .5s ;
}
#cadastre-se:hover{
    cursor: pointer;
    color: var(--color1);
    border: 2px solid var(--color1);
    transform: scale(1.1);
}

.menu{
    margin: 0px 20px 0px 0px;
    background-color: transparent;
    border: transparent;
    display: none;
    align-items: center;
    position: relative;
    width: 35px;
    height: 100%;
    transition: transform 0.5s
}
#hamburguer{
    width: 35px;
    height: 5px;
    position: absolute;
    background-color: var(--color4);
    border-radius: 10px;
    transition: color 0.5s;
}

#hamburguer::after,#hamburguer::before{
    display: none;
    content: '';
    background-color: white;
    width: 35px;
    height: 5px;
    position: absolute;
    border-radius: 10px;
    
}

#hamburguer::after{
    top: -10px;
}
#hamburguer::before{
    bottom: -10px;
}